
#parent {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    letter-spacing: 0.2rem;
    

    width: 100%;
    height:100vh;

    h1 {
        margin: 0.6rem;
    }

    h2 {
        font-size: 1rem;
        margin-top: 0.6rem;
        margin-bottom: 3.0rem;
    } 

    #form1 {
        tr{
            input{
                width: 18em;
                height: 2em;
                text-align: center;
                border-radius: 6px;
            }
        }

        td{
            text-align:right;
        }
    }
}

 
