#parent {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #ada2dc, #8073d4);
    /* Gradient background */
}

#user-info {
    margin: 3em 5ch;
    width: 90%;
    background-color: #fff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#user-credentials {
    margin-bottom: 2.5ch;
    color: black;
}

#medical-id {
    font-style: italic;
    opacity: 0.5;
    font-size: 1rem;
    color: #333;
}

#user-details {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#user-details div {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1rem;
}

#user-details h3 {
    width: 15ch;
    font-size: 1.5rem;
    color: #333;
    margin-right: 2rem;
}

#user-details p {
    font-size: 1.5rem;
    color: #555;
    margin: 0;
}

#records {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#header {
    margin: 3em;
    color: #fff;
}

table {
    width: 80%;
    border-collapse: collapse;
    background-color: #f5f5f5;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

th,
td {
    padding: 1.2rem;
    font-size: 1.5em;
    color: #444;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

th {
    background-color: #ada2dc;
    color: #fff;
}

tr:last-child td {
    border-bottom: none;
}

td:first-child,
th:first-child {
    text-align: right;
    padding-right: 1ch;
    padding-left: 5rem;
    font-weight: bold;
}

td:last-child,
th:last-child {
    text-align: left;
}
